body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: cyan;
}

input {
    display: list-item;
    padding: 10px 30px;
    font-size: 15px;
    background-color: aquamarine;
    border: none;
}

::placeholder {
    color: #000;
}

form {
    background-color: #333;
    padding: 50px;
}

fieldset {
    border-radius: 10px;
    border-color: white;
    padding: 30px;
}

legend {
    padding: 10px;
    color: turquoise;
    font-size: 30px;
}

button {
    padding: 12px 90px;
    background-color: turquoise;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}